<link rel="stylesheet" data-bind="attr: {href: 'assets/'+$root.lesson_type+'/templates/exercises/MRW/2.css'}">
<span class="edit_container"></span>
<div data-bind="template: { name: 'instructions_container_ko_template'}"></div>

<div class="MRW-question counter-reset">
<!-- ko foreach: questions() -->
    <!-- ko foreach: _data() -->
        <!-- ko if: type() == "question" -->
            <!-- ko foreach: contents() -->
                <!-- ko if: type() == "text" -->
                    <span data-bind="html: content()"> </span>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
    
    <!-- ko if: product_helper_check_rec_question(_data()) == false -->
        <!-- ko foreach: responses() -->
            <!-- ko foreach: _data() -->
                <span class="MRW_response_container" data-bind="css: { selected: $parents[1].selected_response() == $parent.id() }">
                    <!-- ko if:$parents[2].feedback_showing_answer() -->                            
                        <span class="MRW_response " data-bind="value: $index(),css: { selected: $parents[1].selected_response() == $parent.id() }, html: content()"></span><span data-bind="visible:$index() == 0">&nbsp;</span>
                    <!-- /ko -->
                    <!-- ko ifnot:$parents[2].feedback_showing_answer() -->                            
                        <span class="MRW_response " data-bind="click:  function() {$parents[1].select_response($parent.id);}, value: $index(),css: { selected: $parents[1].selected_response() == $parent.id(), 'link-cursor': $parents[1].selected_response() != $parent.id()}, html: content()"></span><span data-bind="visible:$parentContext.$index() == 0">&nbsp;</span>
                    <!-- /ko -->
                </span>
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
    
    <!-- ko foreach: _data() -->
        <!-- ko if: type() == "question" -->
            <!-- ko if: contents()[0].type() != "rec" -->
                <div class="response-feedback response-feedback-question MRWR-feedback-icon" data-bind="template: { name: 'data_level_question_feedback_ko_template' }, css: $parents[0].state_css()"></div>
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
    
    <!-- ko foreach: _data() -->
        <!-- ko if: type() == "post_question" -->
            <span data-bind="html: contents.content()"></span>
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: _data()[0].contents().length > 0 && product_helper_check_rec_question(_data()) -->
        <div class="row MRWR-audio-row">
            <div class="col-xs-6 col-xs-offset-3" data-bind="template: { name: 'rec_ko_template' }">
            </div>
        </div>
    <!-- /ko -->
    
<!-- /ko -->
</div>