<link rel="stylesheet" data-bind="attr: {href: 'assets/'+$root.lesson_type+'/templates/exercises/DMC/1.css'}">
<span class="edit_container"></span>
<div data-bind="template: { name: 'instructions_container_ko_template'}"></div>

<div class="counter-reset">
    <div class="row DMC-question" data-bind="foreach:questions()">
        <div class="col-xs-4 DMC-col DMC-question-col">
            <!-- ko foreach:_data() -->
                <!-- ko if: type() == "question" -->
                    <!-- ko ifnot: product_helper_check_rec_question($parent._data()) -->
                        <div data-bind="template: { name: 'question_counter_ko_template'}"></div>
                        <div class="response-feedback response-feedback-question" data-bind="template: { name: 'data_level_question_feedback_ko_template' }, css: $parents[0].state_css()"></div>
                    <!-- /ko -->
                    
                    <!-- ko foreach: contents() -->
                        <!-- ko if: type() == "text" -->
                            <span data-bind="html: content()"></span>
                        <!-- /ko -->
                        <!-- ko if: type() == "image" || type() == "image-lg" || type() == "image-md" || type() == "image-sm"-->
                            <div class="image-no-padding" data-bind="css: $parents[1].get_template_columns($index()) ">
                                <div class="question-position">
                                    <div class="exe-image-border-wrapper">
                                        <div class="exe-image-border">
                                            <img class="img-responsive exe-image" data-bind="attr:{src:'assets/'+$root.lesson_type+'/scos/'+$root.sco_number+'/media/image/' +content()}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- /ko -->
                        <!-- ko if:type() == "audio" -->
                            <div class="link-cursor sena-btn default-audio-button" data-bind="template: { name: 'audio_ko_template', data: $data }"></div>
                        <!-- /ko -->   
                    <!-- /ko -->
                <!-- /ko -->           
            <!-- /ko -->
        </div>  
        <!-- ko if: product_helper_check_rec_question(_data()) -->
            <div class="DMC-question col-xs-offset-3 col-xs-6">
                <div data-bind="template: { name: 'rec_ko_template' }"></div>
            </div>
        <!-- /ko --> 
        <div class="col-xs-8 DMC-col" data-bind="visible: _data()[0].contents().length == 0 || product_helper_check_rec_question(_data()) == false ">    
            <form>
                <!-- ko if: responses()[0]._data()[0].type() == "text" -->
                    <ul style="list-style-type: none;">
                        <!-- ko foreach: responses() -->
                            <!-- ko foreach: _data() -->
                                <div class="row DMC-row">
                                    <!-- ko if: type() == "text" -->
                                        <li class="DMC-response">
                                            <label class="DMC-label">
                                                <input type="radio" name="response" data-bind="checked: $parents[1].selected_response, value: $parent.id(), css: 'link-cursor', attr: {disabled:($parents[2].feedback_showing_answer() || $parents[2].state()==4)}" />
                                                <span class="DMC-response-text" data-bind="html: content()"></span>
                                            </label>
                                        </li>
                                    <!-- /ko -->
                                    <!-- ko if: type() == "image" || type() == "image-lg" || type() == "image-md" || type() == "image-sm"-->
                                        <div class="image-no-padding" data-bind="css: $parent.get_template_columns($index()) ">
                                            <div class="exe-image-border-wrapper">
                                                <div class="exe-image-border">
                                                    <div class="response-checkbox-for-image"><input type="radio" name="response" data-bind="checked: $parents[1].selected_response, checkedValue:$parent.id(), value: $parent.id(), css: 'link-cursor', attr: {disabled:($parents[2].feedback_showing_answer() || $parents[2].state()==4)}" /></div>
                                                    <img class="link-cursor img-responsive exe-image" data-bind="attr:{src:'assets/'+$root.lesson_type+'/scos/'+$root.sco_number+'/media/image/' +content()}, click: function () { $parents[1].select_response($parent.id); }" />
                                                </div>
                                            </div>
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if:type() == "audio" -->
                                        <div class="DMC-response">    
                                            <div class="response-checkbox vertical-center">
                                                <input type="radio" name="response" data-bind="checked: $parents[1].selected_response, value: $parent.id(), css: 'link-cursor', attr: {disabled:($parents[2].feedback_showing_answer() || $parents[2].state()==4)}" />
                                            </div>
                                            <div class="link-cursor sena-btn default-audio-button response-margin" data-bind="template: { name: 'audio_ko_template', data: $data }"></div>
                                        </div>
                                    <!-- /ko -->  
                                </div>
                            <!-- /ko -->
                        <!-- /ko -->
                    </ul>
                <!-- /ko -->
                <!-- ko if: responses()[0]._data()[0].type() != "text" -->
                    <!-- ko foreach: responses() -->
                        <!-- ko foreach: _data() -->
                            <div data-bind="css: $parents[1].get_response_columns()">
                                <!-- ko if: type() == "text" -->
                                    <div class="DMC-response-center">
                                        <label class="DMC-label">
                                            <input type="radio" name="response" data-bind="checked: $parents[1].selected_response, value: $parent.id(), css: 'link-cursor', attr: {disabled:($parents[2].feedback_showing_answer() || $parents[2].state()==4)}" />
                                            <span class="DMC-response-text" data-bind="html: content()"></span>
                                        </label>
                                    </div>
                                <!-- /ko -->
                                <!-- ko if: type() == "image" || type() == "image-lg" || type() == "image-md" || type() == "image-sm"-->
                                    <div class="image-no-padding" data-bind="css: $parent.get_template_columns($index()) ">
                                        <div class="exe-image-border-wrapper">
                                            <div class="exe-image-border">
                                                <div class="response-checkbox-for-image"><input type="radio" name="response" data-bind="checked: $parents[1].selected_response, checkedValue:$parent.id(), value: $parent.id(), css: 'link-cursor', attr: {disabled: ($parents[2].feedback_showing_answer() || $parents[2].state()==4)}" /></div>
                                                <img class="link-cursor img-responsive exe-image" data-bind="attr:{src:'assets/'+$root.lesson_type+'/scos/'+$root.sco_number+'/media/image/' +content()}, click: function () { $parents[1].select_response($parent.id); }" />
                                            </div>
                                        </div>
                                    </div>
                                <!-- /ko -->
                                <!-- ko if:type() == "audio" -->
                                    <div class="DMC-response-center">
                                        <div class="response-checkbox-audio">
                                            <input type="radio" name="response" data-bind="checked: $parents[1].selected_response, value: $parent.id(), css: 'link-cursor', attr: {disabled:($parents[2].feedback_showing_answer() || $parents[2].state()==4)}" />
                                        </div>
                                        <div class="link-cursor sena-btn default-audio-button" data-bind="template: { name: 'audio_ko_template', data: $data }"></div>
                                    </div>
                                <!-- /ko --> 
                            </div>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
                <br />
            </form>
        </div>
    </div>
</div>
