
.ayuda_publico{
    position: absolute;
    width: 20%;
    height: 90%;
    background-size: 100% 100%;
    left: 40%;
}
.ayuda_publico img{
    position: absolute;
    top:20%;
}

@media only screen and (orientation: landscape) and (min-device-width: 768px) and (max-device-width: 1024px){

    .ayuda_publico{
        width: 28%;
        left: 36%;
    }

}