<div class="modal fade" id="myGrammar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header learning-tools">

        <span class="close-button link-cursor pull-right" data-bind="click:function(){$('#myGrammar').modal('hide');}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <h4 class="modal-title" id="myModalLabel">Grammar</h4>
      </div>
		<div class="modal-body learning-tools">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4 search-area-container">

                        <div class= "search-area">
                            <div class="row search-bar">
                                <div class="col-md-12 col-sm-12 col-xs-12 search-bar-container">
                                    <input data-bind="value: $root.modal_common_search_term, valueUpdate: 'afterkeydown'" placeholder="Search..."></input>
                                </div>
                            </div>
                        </div>
                        <div class="wordList grammar-list">
                            <div class="list-letters">
                                <ul class="list-words list-unstyled link-cursor" data-bind='foreach: $root.grammar_items'>
                                    <!-- ko if: ($root.modal_common_search_term().length == 0 || formatted_name().toLowerCase().indexOf($root.modal_common_search_term().toLowerCase()) >= 0) -->
                                        <div class="col-md-12 col-sm-12 col-xs-12 word-content-container">
                                            <li data-bind="click: $root.set_selected_grammar_item, css: $root.selected_grammar_item().item == item ? 'selected' : ''">
                                            
                                                <span class="words-list-container"></span> 
                                                <div class="inner-word-title">
                                                   <span data-bind="html: formatted_name"></span> 
                                                </div>
                                            
                                            </li>
                                        </div>
                                    <!-- /ko -->
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 info-content-container">
                        <div class="select-word center-block" data-bind="visible: ! $root.selected_grammar_item()">
                            <div class="info-img"><img data-bind="attr:{src:'assets/' + lms_config.product_type + '/icons/info_icon.png'}" />
                            </div>
                            <div class="select-word-text">
                                <p> Select a word or phrase from the list, or enter a word or phrase in the search box to see it's definition. </p>
                            </div>
                        </div>
                        <div class="word-info"  data-bind="if: $root.selected_grammar_item">
                            <div class="word-header">
                                <div class="col-md-12 col-sm-12 col-xs-12 header-container">
                                    <span data-bind="html: $root.selected_grammar_item().formatted_name"></span>
                                    <div class="word-sub-title">
                                    <span data-bind="text: $root.selected_grammar_item().title"></span></div>                                    
                                </div>
                            </div>

                            <div class="word-content">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <span data-bind="html: $root.selected_grammar_item().expl()"> </span>
                                    <span data-bind="html: $root.selected_grammar_item().examp()"> </span>
                                    <div class="grammar_images">
                                    <!-- ko if: $root.selected_grammar_item().media() -->
                                     <div class="col-md-11 col-sm-11 col-xs-11">
                                        <span data-bind="foreach:  $root.selected_grammar_item().media()"> 
                                            <img data-bind="attr:{src:'assets/'+$root.lms_config.product_type+'/common/grammar/' +$root.lms_config.lang +'/media/' + img() }" />
                                            
                                            <audio data-bind="attr:{id:'player' + snd()}" preload="auto">
                                                <source data-bind="attr:{src:'assets/'+$root.lms_config.product_type+'/common/grammar/' +lesson_config_json.language +'/media/' + snd() + '.mp3' }"/>
                                            </audio>
                                            
                                            <img class="picture-sound sound-image link-cursor" data-bind="attr:{src:'assets/' + lms_config.product_type + '/icons/listen_icon.png'}, click: function() { $('#player'+ snd()).get(0).play(); }" onmouseover= "$(this).attr('src', 'assets/' + lms_config.product_type + '/icons/listen_icon-over.png');" onmouseout= "$(this).attr('src', 'assets/' + lms_config.product_type + '/icons/listen_icon.png');" />  

                                        </span>
                                    </div>
                                    <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		</div>
    </div>
  </div>
</div>