<div id="sena_credits_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sena_credits_modal" aria-hidden="true" data-bind="css: {
                    en: $root.localization.language() == 'English',
                    pt: $root.localization.language() == 'Português',
                    cmn: $root.localization.language() == 'Mandarín',
                    es: $root.localization.language() == 'Español como segunda lengua',
                    fr: $root.localization.language() == 'Français' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h1 class="modal-learning-headder">
                <span class="sena-icon sena-icon-credits" aria-hidden="true"></span>
                <span data-bind="text:$root.localization.credits"></span>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img class="close" data-bind="attr: { src: 'assets/sena_esp7/icons/buttons/close.svg' }" /></button>
            </h1>
            <div class="modal-body credits-modal">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li><h4><span class="strong">Servicio Nacional de Aprendizaje SENA</span></h4></li>
                            <br />
                            <li><span class="strong">Director General</span></li>
                            <li>Alfonso Prada Gil</li>
                            <br />
                            <li><span class="strong">Secretario General</span></li>
                            <li>Milton Nuñez Paz</li>
                            <br />
                            <li><span class="strong">Director del Sistema Nacional de Formación para el Trabajo</span></li>
                            <li>Juan Manuel Valdés Barcha</li>
                            <br />
                            <li><span class="strong">Director de Promoción y Relaciones Corporativas</span></li>
                            <li>Juan Pablo Castro Morales</li>
                            <br />
                            <li><span class="strong">Directora de Empleo, Trabajo y Emprendimiento</span></li>
                            <li>María Andrea Nieto Romero</li>
                            <br />
                            <li><span class="strong">Director de Formación Profesional Integral</span></li>
                            <li>Mauricio Alvarado Hidalgo</li>
                            <br />
                            <li><span class="strong">Directora Administrativa y Financiera</span></li>
                            <li>Piedad Jiménez Montoya</li>
                            <br />
                            <li><span class="strong">Director Jurídico</span></li>
                            <li>Juan Pablo Arenas Quiroz</li>
                            <br />
                            <li><span class="strong">Director de Planeación y Direccionamiento Corporativo</span></li>
                            <li>Iván Ernesto Rojas Guzmán</li>
                            <br />
                            <li><span class="strong">Jefe Oficina de Control Interno</span></li>
                            <li>Raúl Eduardo González Garzón</li>
                            <br />
                            <li><span class="strong">Jefa de la Oficina de Control Interno Disciplinario</span></li>
                            <li>Dora Milena García Moreno</li>
                            <br />
                            <li><span class="strong">Jefe de la Oficina de Sistemas</span></li>
                            <li>Carlos César Jiménez Aponte</li>
                            <br />
                            <li><span class="strong">Jefe de la Oficina de Comunicaciones</span></li>
                            <li>Melba Pinto Gualdrón</li>
                            <br />
                            <li><span class="strong">Coordinador del Grupo Gestión Operativa Integral de la Formación en Modalidad Presencial</span></li>
                            <li>Mario Javier Rincón Triana</li>
                            <br />
                            <li><span class="strong">Gerente Programa de Bilingüismo SENA</span></li>
                            <li>Olga Lucía Riveros Gaona</li>
                            <br />
                            <li><span class="strong">Asesor de contenidos educativos Programa de Bilingüismo SENA</span></li>
                            <li><span class="strong">Coordinador del proyecto</span></li>
                            <li>Mauricio Ríos Delgado</li>
                            <br />
                            <li><span class="strong">Asesor técnico de programación e ingeniería del proyecto</span></li>
                            <li><span class="strong">Programa de Bilingüismo SENA</span></li>
                            <li>William Augusto Duque Villalba</li>
                            <br />
                            <li><span class="strong">Asesora pedagógica y curricular del proyecto</span></li>
                            <li><span class="strong">Programa de Bilingüismo SENA</span></li>
                            <li>Dayana Cortés Medina</li>
                            <br />
                            <li><span class="strong">Asesora pedagógica Programa de Bilingüismo</span></li>
                            <li>Astrid Oliveros López</li>
                            <hr />
                             <li><h4><span class="strong">eDistribution</span></h4></li>
                            <br />
                            <li><span class="strong">Gerente del Proyecto</span></li>
                            <li>Alfredo Antonio Díaz Claro</li>
                            <br />
                            <li><span class="strong">Coordinador de Producción</span></li>
                            <li>Mario Nel Villamizar Ochoa</li>
                            <br />
                            <li><span class="strong">Coordinador de Adquisiciones</span></li>
                            <li>Gustavo Andrés Díaz Ochoa</li>
                            <br />
                            <li><span class="strong">Autor Sílabo</span></li>
                            <li>Adriana Rodríguez Pulido</li>
							<li>Leonardo Escobar Diaz</li>
							<li>Diana Teresa Gomez Arias</li>														
                            <br />
                            <li><span class="strong">Catalogadores</span></li>
                            <li>Katherin Vargas Polo</li>
                            <li>Yuri Emilse Correa Vivas</li>
							<li>Oscar Andres Reyes Rojas</li>								
                            <!-- ko if: $root.localization.language() != 'English' -->
                                <li>Julián Adolfo Ospina García</li>
                                <li>Paola Andrea Hurtado</li>
                            <!-- /ko -->
                            <br />
                            <li><span class="strong">Revisores de contenido</span></li>
							<li>William Fernando Guerra Borrero</li>
                                <li>Diana Marcela Herrara Torres</li>
                                <li>Hector Alejandro Galvis Guerrero</li>
                                <li>Claudia Milena Perez Guerrero</li>
                                <li>Kelly Dianne Puentes Velasco </li>								
                            <!-- ko if: $root.localization.language() == 'English' -->
                                 <!-- /ko -->
                            <!-- ko if: $root.localization.language() == 'Português' -->
                                <li>Julián Aldana Nieto</li>
                            <!-- /ko -->
                            <!-- ko if: $root.localization.language() == '中文' -->
                                <li>Yi-Fen Liu</li>
                            <!-- /ko -->
                            <!-- ko if: $root.localization.language() == 'Français' -->
                                <li>Natalia Aristizábal</li>
                            <!-- /ko -->
                            <br />
                            <li><span class="strong">Administradores de plataforma LMS</span></li>
                            <li>Lady Johanna Sierra</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sena_help_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sena_help_modal" aria-hidden="true" data-bind="css: {
                    en: $root.localization.language() == 'English',
                    pt: $root.localization.language() == 'Português',
                    cmn: $root.localization.language() == 'Mandarín',
                    es: $root.localization.language() == 'Español como segunda lengua',
                    fr: $root.localization.language() == 'Français' }">
    <div class="modal-dialog modal-lg help-modal-box">
        <div class="modal-content">
            <h1 class="modal-learning-headder">
                <span class="sena-icon sena-icon-help" aria-hidden="true"></span>
                <span data-bind="text:$root.localization.help"class='help-bold-text'></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img class="close"  data-bind="attr: { src: 'assets/sena_esp7/icons/buttons/close.svg' }" /></button>
            </h1>
            <div class="modal-body help-modal-body">
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'true'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="AT-help-horizontal-list">
                            <div class="help-img" id="help-item-1">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <div>
                                <span data-bind="text:$root.localization.start_test"class='help-bold-text'></span>:<span data-bind="text:$root.localization.start_test_help"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'true'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <ul class="AT-help-horizontal-list">
                            <li>
                                <div class="help-img AT-help-inline-img " id="help-item-12">
                                    <div class="help-btn-inner  AT-help-inline-img ">
                                        <div class="AT-help-question-numbers"><span>1-2</span></div>
                                    </div>
                                </div>
                           </li>
                            <li>
                                <div class="help-img AT-help-inline-img " id="help-item-12">
                                    <div class="help-btn-inner  AT-help-inline-img ">
                                        <div class="help-btn-inner  AT-help-inline-img ">
                                            <div class="AT-help-question-numbers"><span>3-4</span></div>
                                        </div>
                                    </div>
                                </div>
                           </li>
                            <li>
                                <div class="help-img AT-help-inline-img " id="help-item-12">
                                    <div class="help-btn-inner  AT-help-inline-img ">
                                        <div class="help-btn-inner  AT-help-inline-img ">
                                            <div class="AT-help-question-numbers"><span>5-6</span></div>
                                        </div>
                                    </div>
                                </div>
                           </li>
                            <li>
                                <div class="help-img AT-help-inline-img " id="help-item-12">
                                    <div class="help-btn-inner  AT-help-inline-img ">
                                        <div class="help-btn-inner  AT-help-inline-img ">
                                            <div class="AT-help-question-numbers"><span>7-8</span></div>
                                        </div>
                                    </div>
                                </div>
                           </li>
                            <li>
                                <div class="help-img AT-help-inline-img " id="help-item-12">
                                    <div class="help-btn-inner  AT-help-inline-img ">
                                        <div class="help-btn-inner  AT-help-inline-img ">
                                            <div class="AT-help-question-numbers"><span>9-10</span></div>
                                        </div>
                                    </div>
                                </div>
                           </li>
                        </ul>
                        <div class="help-text-col help-vertical-align-magic">
                            <div>
                                <span data-bind="text:$root.localization.questions"class='help-bold-text'></span>:<span data-bind="text:$root.localization.questions_help"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'true'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="AT-help-horizontal-list">
                            <div class="help-img" id="help-item-11">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <div>
                                <span data-bind="text:$root.localization.result"class='help-bold-text'></span>:<span data-bind="text:$root.localization.result_help"></span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row help-modal-item " data-bind="visible: $root._data.test() == 'true'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="AT-help-horizontal-list">
                            <div class="help-img" id="help-item-10">
                                <div class="help-btn-inner help-modal-menu-img"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <div>
                                <span data-bind="text:$root.localization.help_menu_title"class='help-bold-text'></span>:<span data-bind="text:$root.localization.help_menu_text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'true'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="AT-help-horizontal-list-title">
                            <ol class="list-inline lesson-path help-header vertical-align-magic AT-help-lesson-path">
                            <li data-bind="text:$root.localization.course"></li> <span class="sena-icon sena-icon-chevron-right" aria-hidden="true"></span>
                            <li data-bind="text:$root.localization.level"></li> <span class="sena-icon sena-icon-chevron-right" aria-hidden="true"></span>
                            <li data-bind="text:$root.localization.lesson"></li>
                        </ol>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <div>
                                <span data-bind="text:$root.localization.help_breadcrumbs_title"class='help-bold-text'></span>:<span data-bind="text:$root.localization.help_breadcrumbs_text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="learning_skills help-skills">
                                <ul class="ls_icons">
                                    <li class="reading active"></li>
                                    <li class="listening inactive"></li>
                                    <li class="writing active" ></li>
                                    <li class="speaking inactive"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <div>
                                <span data-bind="text:$root.localization.help_skills_icons_title"class='help-bold-text'></span>:<span data-bind="text:$root.localization.help_skills_icons_text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img help-inline-img " id="help-item-7">
                                <div class="help-btn-inner help-inline-img "></div>
                            </div>
                            <div class="help-img help-inline-img " id="help-item-8">
                                <div class="help-btn-inner help-inline-img "></div>
                            </div>
                            <div class="help-img help-inline-img " id="help-item-9">
                                <div class="help-btn-inner help-inline-img "></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <!-- ko if: $root.localization.lets_practice().slice(-1) == "!" && $root.localization.lets_practice().slice(-2) != " !" -->
                                <span data-bind="text:$root.localization.lets_practice().charAt(0) + $root.localization.lets_practice().substring(0, $root.localization.lets_practice().length - 1).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if:$root.localization.lets_practice().slice(-2) == " !" -->
                                <span data-bind="text:$root.localization.lets_practice().charAt(0) + $root.localization.lets_practice().substring(0, $root.localization.lets_practice().length - 2).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if: $root.localization.lets_practice().slice(-1) != "!" -->
                                <span data-bind="text:$root.localization.lets_practice().charAt(0) + $root.localization.lets_practice().toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <span data-bind="text:$root.localization.lets_practice_help"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img" id="help-item-1">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <!-- ko if: $root.localization.lets_start().slice(-1) == "!" && $root.localization.lets_start().slice(-2) != " !" -->
                                <span data-bind="text:$root.localization.lets_start().charAt(0) + $root.localization.lets_start().substring(0, $root.localization.lets_start().length - 1).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if:$root.localization.lets_start().slice(-2) == " !" -->
                                <span data-bind="text:$root.localization.lets_start().charAt(0) + $root.localization.lets_start().substring(0, $root.localization.lets_start().length - 2).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if: $root.localization.lets_start().slice(-1) != "!" -->
                                <span data-bind="text:$root.localization.lets_start().charAt(0) + $root.localization.lets_start().toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <span data-bind="text:$root.localization.lets_start_help"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img" id="help-item-2">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <!-- ko if: $root.localization.lets_explore().slice(-1) == "!" && $root.localization.lets_start().slice(-2) != " !" -->
                                <span data-bind="text:$root.localization.lets_explore().charAt(0) + $root.localization.lets_explore().substring(0, $root.localization.lets_explore().length - 1).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if:$root.localization.lets_explore().slice(-2) == " !" -->
                                <span data-bind="text:$root.localization.lets_explore().charAt(0) + $root.localization.lets_explore().substring(0, $root.localization.lets_explore().length - 2).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if: $root.localization.lets_explore().slice(-1) != "!" -->
                                <span data-bind="text:$root.localization.lets_explore().charAt(0) + $root.localization.lets_explore().toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <span data-bind="text:$root.localization.lets_explore_help"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img" id="help-item-3">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <!-- ko if: $root.localization.check_your_progress().slice(-1) == "!" && $root.localization.lets_start().slice(-2) != " !" -->
                                <span data-bind="text:$root.localization.check_your_progress().charAt(0) + $root.localization.check_your_progress().substring(0, $root.localization.check_your_progress().length - 1).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if:$root.localization.check_your_progress().slice(-2) == " !" -->
                                <span data-bind="text:$root.localization.check_your_progress().charAt(0) + $root.localization.check_your_progress().substring(0, $root.localization.check_your_progress().length - 2).toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <!-- ko if: $root.localization.check_your_progress().slice(-1) != "!" -->
                                <span data-bind="text:$root.localization.check_your_progress().charAt(0) + $root.localization.check_your_progress().toLowerCase().slice(1)"class='help-bold-text'></span>:
                            <!-- /ko -->
                            <span data-bind="text:$root.localization.check_your_progress_help"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img" id="help-item-4">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <span data-bind="text:$root.localization.takeaway_pdf"class='help-bold-text'></span>:<span data-bind="text:$root.localization.takeaway_help"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img" id="help-item-6">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <span data-bind="text:$root.localization.learning_points().charAt(0) + $root.localization.learning_points().toLowerCase().slice(1)"class='help-bold-text'></span>:<span data-bind="text:$root.localization.learning_point_help"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img" id="help-item-5">
                                <div class="help-btn-inner"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <span data-bind="text:$root.localization.target_words().charAt(0) + $root.localization.target_words().toLowerCase().slice(1)"class='help-bold-text'></span>:<span data-bind="text:$root.localization.target_words_help"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <div class="help-img" id="help-item-10">
                                <div class="help-btn-inner help-modal-menu-img"></div>
                            </div>
                        </div>
                        <div class="help-text-col help-vertical-align-magic help-menu-text">
                            <span data-bind="text:$root.localization.help_menu_title"class='help-bold-text'></span>:<span data-bind="text:$root.localization.help_menu_text"></span>
                        </div>
                    </div>
                </div>
                <div class="row help-modal-item " data-bind="visible: $root._data.test() == 'false'">
                    <div class="col-md-12 col-sm-12 col-xs-12 help-image-col center-align-magic help-icon-col">
                        <div class="help-horizontal-list">
                            <ol class="list-inline lesson-path help-header vertical-align-magic">
                                <li data-bind="text:$root.localization.course"></li> <span class="sena-icon sena-icon-chevron-right" aria-hidden="true"></span>
                                <li data-bind="text:$root.localization.level"></li> <span class="sena-icon sena-icon-chevron-right" aria-hidden="true"></span>
                                <li data-bind="text:$root.localization.lesson"></li>
                            </ol>
                        </div>
                        <div class="help-text-col help-vertical-align-magic">
                            <span data-bind="text:$root.localization.help_breadcrumbs_title"class='help-bold-text'></span>:<span data-bind="text:$root.localization.help_breadcrumbs_text"></span>
                        </div>
                    </div>
                </div>
			</div>
        </div>
    </div>
</div>

<div id="sena_info_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sena_info_modal" aria-hidden="true" data-bind="css: {
                    en: $root.localization.language() == 'English',
                    pt: $root.localization.language() == 'Português',
                    cmn: $root.localization.language() == 'Mandarín',
                    es: $root.localization.language() == 'Español como segunda lengua',
                    fr: $root.localization.language() == 'Français' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h1 class="modal-learning-headder">
                <span class="sena-icon sena-icon-info" aria-hidden="true"></span>
                <span data-bind="text:$root.localization.info"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img class="close"  data-bind="attr: { src: 'assets/'+$root.lesson_type+ '/icons/buttons/close.svg' }" /></button>
            </h1>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <center>
                            <br /><br />
                            <p>Copyright © SENA 2017.</p>
                            <p>Licenciado para Colombia por el Servicio Nacional de Aprendizaje SENA.</p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sena_accessibility_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sena_accessibility_modal" aria-hidden="true" data-bind="css: {
                    en: $root.localization.language() == 'English',
                    pt: $root.localization.language() == 'Português',
                    cmn: $root.localization.language() == 'Mandarín',
                    es: $root.localization.language() == 'Español como segunda lengua',
                    fr: $root.localization.language() == 'Français' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h1 class="modal-learning-headder">
                <span class="sena-icon sena-icon-accessibility" aria-hidden="true"></span>
                <span data-bind="text:$root.localization.accessibility"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img class="close"  data-bind="attr: { src: 'assets/sena_esp7/icons/buttons/close.svg' }" /></button>
            </h1>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 accessibility-area">
                        <center>
                            <span class="accessibility-header" data-bind="text:$root.localization.support_for_impaired"></span>
                            <br />
                            <br />
                            <span class="accessibility-line" data-bind="text:$root.localization.click_icon_download"></span>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6">
                                    <a data-bind="attr:{href:'assets/'+$root.lesson_type+'/downloads/accessibility.pdf'}" target="_blank">
                                        <img class="img-responsive" style='max-width:72px; max-height: 76px;' data-bind="attr:{src:'assets/'+$root.lesson_type+'/icons/download.svg'}" />
                                    </a>
                                </div>
                            </div>
                            <br />
                            <br />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
