<link rel="stylesheet" data-bind="attr: {href: 'assets/'+$root.lesson_type+'/templates/exercises/GIW/1.css'}">
<span class="edit_container"></span>
<div data-bind="template: { name: 'instructions_container_ko_template'}"></div>

<div class="counter-reset question-block">
    <!-- ko foreach: questions() -->
        <!-- ko foreach: _data() -->
            <!-- ko if: type() == "question" -->
                <!-- ko ifnot: product_helper_check_rec_question($parent._data()) -->
                    <div class="response-feedback response-feedback-question" data-bind="template: { name: 'data_level_question_feedback_ko_template' }, css: $parents[0].state_css()"></div>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko foreach: $parent.word_list() -->
            <!-- ko if: question == $parent.id() -->
                <!-- ko if: rec == 0 -->
                    <!-- ONLY GOES IN HERE IF QUESTION IS NOT FINISHED AND IS STILL ALLOWING INPUT -->
                    <!-- ko if: !$parents[1].showing_answer() -->
                        <!-- ko if: selected() == 0 -->
                            <span data-bind="css: {'link-cursor GIW-word' : !$parents[1].feedback_showing_answer()}, html: word, click: $parents[1].select_word"> </span>
                        <!-- /ko -->
                        <!-- ko if: selected() == 1 && response == 0 -->
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-bind="hasFocus: true, value: $parents[1].questions()[question].entered_response, valueUpdate: 'input', event: { input:  $parents[1].handle_incorrect_word_submission.bind(null, $data, $index()) }, attr:{disabled:$parents[1].feedback_showing_answer()}" class="GIW_input" />
                        <!-- /ko -->
                        <!-- ko if: selected() == 1 && response == 1 -->
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-bind="hasFocus: true, value: $parents[1].questions()[question].entered_response, valueUpdate: 'input', event: { input:  $parents[1].handle_correct_word_submission.bind(null, $data, $index()) }, attr:{disabled:$parents[1].feedback_showing_answer()}" class="GIW_input" />
                        <!-- /ko -->
                    <!-- /ko -->
                    
                    <!-- CORRECT INPUT BOXES, REMOVES CLICK BINDINGS -->
                    <!-- ko if: $parents[1].showing_answer() -->
                        <!-- ko if: response == 0 -->
                            <span data-bind="html: word"> </span>
                        <!-- /ko -->
                        <!-- ko if: response == 1 -->
                                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-bind="value: $parents[1].get_answers(question), attr:{disabled:$parents[1].feedback_showing_answer()}" class="GIW_input" />
                                <!-- <button type="button" class="btn btn-xs btn-default" data-trigger="focus" title="Answers" data-bind="attr{id: 'popover_'+$parents[1].id()+'_'+question, 'data-toggle':'popover', 'data-trigger':'focus', 'data-content': $parents[1].get_answers(question)}">...</button> -->
                        <!-- /ko -->
                        <!-- ko if: answered() == 1 || selected() == 1 -->
                            <span data-bind="css: 'response '+ $parents[1].questions()[question].state_css(), visible:  $parents[1].questions()[question].state() > 1 && $parents[1].checked_answer()">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: product_helper_check_rec_question(_data())-->
            <div class="question-column col-xs-6" data-bind="template: { name: 'rec_ko_template' }">
                
            </div>
        <!-- /ko -->
    <!-- /ko -->
</div>