span.MRW_response.selected  {
    background-color:#458f15;
    color:white;
    border: 1px solid transparent;
}
#main.cmn span.MRW_response.selected  {
    background-color:#458f15;
    color:white;
}
#main.fr span.MRW_response.selected  {
    background-color:#458f15;
    color:white;
}
#main.pt span.MRW_response.selected  {
    background-color:#458f15;
    color:white;
}
#main.es span.MRW_response.selected  {
    background-color:#458f15;
    color:white;
}

span.MRW_response{
    padding-left:9px;
    padding-right:9px;
    background-color:#458f15;
    color: #2f6b08;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 2px 0px rgba(0,0,0,0.1);
}
#main.cmn span.MRW_response{
    background-color:#458f15;
    color: #2f6b08;
}
#main.fr span.MRW_response{
    background-color:#458f15;
    color: #2f6b08;
}
#main.pt span.MRW_response{
    background-color:#458f15;
    color: #2f6b08;
}
#main.es span.MRW_response{
    background-color:#458f15;
    color: #2f6b08;
}

span.MRW_response_container :hover{
    color: #2f6b08;
}
#main.cmn span.MRW_response_container :hover{
    color: #2f6b08;
}
#main.fr span.MRW_response_container :hover{
    color: #2f6b08;
}
#main.pt span.MRW_response_container :hover{
    color: #2f6b08;
}
#main.es span.MRW_response_container :hover{
    color: #2f6b08;
}

span.MRW_response_container.selected :hover{
    color: white;
}
#main.cmn span.MRW_response_container.selected :hover{
    color: white;
}
#main.fr span.MRW_response_container.selected :hover{
    color: white;
}
#main.pt span.MRW_response_container.selected :hover{
    color: white;
}
#main.es span.MRW_response_container.selected :hover{
    color: white;
}

.MRW_paragraph
{
    line-height:1.8;
}

.MRW-question{
    line-height: 2.9rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    position: relative;
}

.MRW-col
{
    padding-left: 0;
    position: relative;
}

.MRWR-feedback-icon {
    position: static;
}

.MRWR-audio-row {
    margin-top: 15px;
}