<link rel="stylesheet" data-bind="attr: {href: 'assets/'+$root.lesson_type+'/templates/exercises/SFL/document.css'}">
<span class="edit_container"></span>
<div data-bind="template: { name: 'instructions_container_ko_template'}"></div>

<div class="SFL-document row">
    <div class="col-xs-6 counter-reset SFL-col-no-padding">
        <div class="SFL-page">
            <!-- ko foreach:questions() -->
                <!-- ko if: product_helper_check_rec_question(_data()) == false -->
                    <!-- ko foreach: _data() -->
                        <!-- ko if: type() == "question" -->
                            <!-- ko if: product_helper_check_rec_question($parent._data()) == false -->
                                <div data-bind="css: 'drop-container_'+$parents[1].id()+'_'+$parents[0].id()+'_'+$parents[2].id()">
                                    
                                    <div class="drop-target SFL-drop-hover SFL-drop " data-bind="attr: {id: $parents[0].id()}">
                                        <div class="response-feedback-question SFL-feedback" data-bind="template: { name: 'data_level_question_feedback_ko_template' }, css: $parents[0].state_css()"></div>
                                        <!-- ko foreach:contents() -->
                                            <!-- ko if: type() == "text" -->
                                                <div class="SFL-drop-placeholder" data-bind="html:content()"></div>
                                            <!-- /ko -->
                                        <!-- /ko -->
                                    
                                    </div>
                                </div>
                            <!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    
    <div class="col-xs-6 SFL-well">
        <div class="SFL-container-row">
        <!-- ko foreach:questions() -->
            <!-- ko if: _data()[0].contents()[0].type() != "rec" -->
                <!-- ko foreach:responses() -->
                    <!-- ko foreach:_data() -->
                        <!-- ko if: $parent.id() != 0 -->
                            <div data-bind="css: 'SFL-drop-container drop-container_'+$parents[1].id()+'_'+$parents[1].id()+'_'+$parents[3].id()">
                                <div data-bind="css:'starting-drop-target drop-target SFL-starting-drop SFL-droper_'+$parents[1].id()+' DFL-drop_'+$parents[2].id()+'_'+$parents[1].id()+'_'+$parents[3].id()"></div>
                            </div>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko foreach:questions() -->
            <div class=" SFL-response-container response_container" data-bind="attr{id: 'response_container_'+$parent.id()+'_'+$parents[1].id(), style: 'height: 0px;width:0px;'}"> 
                <!-- ko if: product_helper_check_rec_question(_data()) == false -->
                    <!-- ko foreach: responses() -->                    
                        <!-- ko foreach: _data() -->
                            <!-- ko if: $parent.id() != 0 -->
                                <!-- ko if: type() == "text" -->
                                    <div class="link-cursor pep SFL-response SFL-document-response" data-bind="attr: { id: $parents[1].id() }">
                                        <div data-bind="html:content()"></div>
                                    </div>
                                <!-- /ko -->
                            <!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->  
                <!-- /ko -->                        
            </div>  
        <!-- /ko -->
        </div>
    </div> 
</div>        

