.KAR-video-player
{
    
}

.KAR-input
{
	margin: 20px auto 10px;
    line-height:1;
    background-color: #2f6b08;
    border: 1px solid black;
    box-shadow: 0 2px 0px rgba(0,0,0,0.1);
    width: 95% !important;
    display: block;
    font-size: 1.6rem;
    resize: vertical;
    overflow: auto;
}

.video-padding{
	padding-bottom: 30px;
}
