<div class="modal fade" id="mySavingProgress" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header learning-tools">
                <span class="close-button link-cursor pull-right" data-bind="click:function(){$('#mySavingProgress').modal('hide');}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <h4 class="modal-title" id="myModalLabel">Saving Progress</h4>
            </div>
            <div class="modal-body learning-tools">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <span data-bind="html:$root.localization.help_savingprogress">
                            <p>To save your progress, you will need to make sure you complete the following:</p>
                            <ol>
                                <li>Make sure to use the <button type="button" class="btn btn-xs check-answer">Check Answer</button> button in each exercise to grade your answers.</li>
                                <li>When you are done working in a lesson, click on the <span class="product-color-text">Close lesson</span> button in the top right of the screen. This will exit the lesson and save your progress.</li>
                            </ol>
                        </span>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>